<footer class="footer">
  <div class="row footer__main">
    <div class="small-12 middle-6 medium-3 columns">
      <a href="{{ '/' | relative_url }}"><img class="footer__brand" src="{{ 'assets/img/brand/logo_napis_white.svg' | relative_url }}" alt="Piráti logo" /></a>
      <h3 class="t-h5-sub">{{ site.author }}</h3>
      <ul class="no-bullet">
        <li>poslanec PSP ČR</li>
        <li>místopředseda <a href="https://ustecko.pirati.cz">Pirátů USK</a></li>
      </ul>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline">Sněmovna</h3>
      <ul class="no-bullet">
        <li>Malostranské náměstí 7/19</li>
        <li>Praha 1 - Malá strana</li>
        <li>721030120 <small>(kancelář)</small></li>
        <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
      </ul>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline">Poslanecká kancelář</h3>
      <ul class="no-bullet">
	<li>Pařížská 1290/5</li>
        <li>Ustí nad Labem</li>
        <li>40001</li>
      </ul>
    </div>

 <div class="small-12 middle-6 medium-3 columns">
    <a href="https://european-pirateparty.eu/">
	<img border="0" alt="PPEU" src="/assets/img/Logo_European_Pirate_Party-inversed.svg" width="250" height="300">
    </a>
    </div>
    </div>

  <div class="footer__copy">
    <div class="row">
      <div class="small-12 columns footer__copy-line">
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cz/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/cz/88x31.png" /></a> <small>Toto dílo podléhá licenci <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cz/">Creative Commons Uveďte původ 3.0 Česká republika License</a>.</small>
      </div>
    </div>
  </div>
</footer>
