<footer class="footer">
  <div class="row footer__main">
    <div class="small-12 middle-6 medium-3 columns">
      <a href="{{ '/' | relative_url }}"><img class="footer__brand" src="{{ 'assets/img/brand/logo_napis_white.svg' | relative_url }}" alt="Piráti logo" /></a>
      <h3 class="t-h5-sub">{{ site.author }}</h3>
      <ul class="no-bullet">
        <li>poslanec Evropského parlamentu</li>
        <li>místopředseda <a href="https://pirati.cz">Pirátů </a></li>
     	<li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
	</ul>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline">Bruxelles</h3>
      <ul class="no-bullet">
	<li>Parlement européen</li>
	<li>Bât. Altiero Spinelli</li>
	<li>03E258</li>
	<li>60, rue Wiertz / Wiertzstraat 60</li>
	<li>B-1047 Bruxelles/Brussel</li>
	<li>tel: 0032 2 28 45522<small>(office)</small></li> 
      </ul>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline">Strasbourg</h3>
      <ul class="no-bullet">
        <li>Parlement européen</li>
        <li>Bât. Louise Weiss</li>
        <li>T05054</li>
        <li>1, avenue du Président Robert Schuman</li>
        <li>F-67070 Strasbourg Cedex</li>
	<li>CS 91024</li>
	<li>tel: F-67070 Strasbourg Cedex<small>(office)</small></li>
      </ul>
    </div>

 <div class="small-12 middle-6 medium-3 columns">
    <a href="https://european-pirateparty.eu/">
	<img border="0" alt="PPEU" src="/assets/img/brand/Logo_European_Pirate_Party-inversed.svg" width="250" height="300">
    </a>
    </div>
    </div>

</footer>
